<section class="user_login mb-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'col-md-4 offset-md-4 text-center'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <section class="logo">
      <%= image_tag 'Logo.png', alt: 'iachei logo' %>
    </section>

    <section class="field input-group mb-4">
      <%= f.text_field :name, placeholder: 'Digite seu Nome', autocomplete: "name", class: 'form-control' %>
    </section>

    <section class="field input-group mb-2">
      <%= f.email_field :email, autofocus: true, placeholder: 'Digite seu Email', autocomplete: "email", class: 'form-control' %>
    </section>

    <section class="field input-group">
      <%= f.password_field :password, placeholder: 'Digite sua Senha', autocomplete: "current-password", class: 'form-control' %> 
    </section>
    <% if @minimum_password_length %>
      <small>
        <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
      </small>
    <% end %> 

    <div class="field input-group mb-2">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Digite sua senha novamente', class: 'form-control' %>
    </div>

    <section class="actions mb-4">
      <%= f.submit "Entrar", class: 'btn btn-info' %>
    </section>

    <%= link_to 'Voltar', :back, class: 'btn btn-warning' %>
  <% end %>
</section>
