<section class="user_login mb-4 pt-4">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'col-md-4 offset-md-4 text-center' }) do |f| %>

	<h2><%= t('.forgot_your_password') %></h2>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Digite seu email', class: 'form-control' %>
  </div>

  <div class="actions mb-4">
    <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-success' %>
  </div>

  <%= link_to 'Voltar', new_user_session_path, class: 'btn btn-warning' %>
<% end %>


</section>