<h4>Sobre Nós <%= image_tag 'question' %></h4>

<hr>

<p>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
</p>

<br>

<h4>Nossa Equipe</h4>

<hr>

<section id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <section class="carousel-inner">
    <section class="carousel-item active">
    	<section class="row">
    		<section class="col">
	    		<%= image_tag 'no-photo' %>
	    	</section>
    		
    		<section class="col">
	    		<%= image_tag 'no-photo' %>
	    	</section>

	    	<section class="col">
	    		<%= image_tag 'no-photo' %>
	    	</section>
    	</section>
    </section>

    <section class="carousel-item">
      <section class="row">
    		<section class="col">
	    		<%= image_tag 'no-photo' %>
	    	</section>

	    	<section class="col">
	    		<%= image_tag 'no-photo' %>
	    	</section>

	    	<section class="col">
	    		<%= image_tag 'no-photo' %>
	    	</section>
    	</section>
    </section>

    <section class="carousel-item">
      <section class="row">
    		<section class="col">
	    		<%= image_tag 'no-photo' %>
	    	</section>

	    	<section class="col">
	    		<%= image_tag 'no-photo' %>
	    	</section>

	    	<section class="col">
	    		<%= image_tag 'no-photo' %>
	    	</section>
    	</section>
    </section>
  </section>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</section>