<section class="content col-md-6 offset-md-3">

	<section class="city_show">
		<section class="perfil">
			<%= image_tag (@city.photo) if @city.photo.present? %>
		</section>

		<%= link_to cities_path, class: 'float-left back_button' do %>
			<%= image_tag 'go_back.png', alt: 'back image' %>
		<% end %>

		<section class="description mt-4">
			<h4><%= @city.name %></h4>

			<hr />

			<p>
				<%= @city.description %>
			</p>

			<%= link_to 'Confirmar', cities_path, class: 'btn btn-primary' %>
		</section>
	</section>

</section>
