<section class="city_show">
	<%= link_to cities_path, class: 'float-left back_button' do %>
		<%= image_tag 'back.png', alt: 'back image' %>
	<% end %>

	<section class="perfil">
		<%= image_tag (@city.photo) if @city.photo.present? %>
	</section>

	<section class="description mt-4 pt-5">
		<h4><%= @city.name %></h4>

		<p>
			<%= @city.description %>
		</p>

		<% if user_signed_in? && !current_user.admin? %>
			<%= form_for @city, url: {action: :update_user_city} do |f| %>
				<%= hidden_field_tag :id, @city.id %>
				<%= f.submit 'Confirmar', class: 'btn btn-primary' %>
			<% end %>
		<% elsif !user_signed_in? %>
			<%= link_to 'Confirmar', establishments_path(city_id: @city.id), class: 'btn btn-primary'  %>
		<% end %>

		<%= link_to 'Editar', edit_city_path(@city), class: 'btn btn-info mt-4' if user_signed_in? && current_user.admin? %>
	</section>
</section>
