<%= form_for(establishment, class: 'form-group text-center') do |f| %>
  <% if establishment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(establishment.errors.count, "error") %> prohibited this establishment from being saved:</h2>

      <ul>
        <% establishment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="field mb-4">
    Cidades que possuem o estabelecimento*:
    <%= f.collection_select :cities, City.order(name: :ASC), :id, :name, {}, multiple: true, class: 'form-control', required: true %>
  </section>

  <section class="field mb-4">
    Categoria*:
    <%= f.collection_select :category_id, Category.order(name: :ASC), :id, :name, {include_blank: 'Selecione uma Categoria'}, class: 'form-control', required: true %>
  </section>

  <script>
      $( "#establishment_category_id, #establishment_cities" ).select2();
  </script>

  <section class="field mb-4">
    Nome*:
    <%= f.text_field :name, placeholder: 'Digite o nome', class: 'form-control', required: true %>
  </section>

  <section class="field mb-4">
    Descrição*:
    <%= f.text_field :description, placeholder: 'Digite o descrição', class: 'form-control', required: true %>
  </section>

  <section class="field mb-4">
    Informações Adicionais*:
    <%= f.text_field :additional_information, placeholder: 'Digite as informações', class: 'form-control', required: true %>
  </section>

  <section class="field mb-4">
    Telefone
    <%= f.text_field :telephone, placeholder: 'Digite o telefone', class: 'form-control' %>
  </section>

  <section class="field mb-4">
    Link do Facebook:
    <%= f.text_field :facebook, placeholder: 'Digite o link do facebook', class: 'form-control' %>
  </section>

  <section class="field mb-4">
    Link do Instagram:
    <%= f.text_field :instagram, placeholder: 'Digite o link do instagram', class: 'form-control' %>
  </section>

  <section class="field mb-4">
    Link do Whatsapp:
    <%= f.text_field :whatsapp, placeholder: 'Digite o link do whatsapp', class: 'form-control' %>
  </section>

  <section class="field mb-4">
    Link do Site Pessoal:
    <%= f.text_field :website, placeholder: 'Digite o link do website', class: 'form-control' %>
  </section>

  <section class="field m-3">
    Foto do Estabelecimento: <br>
    <%= f.file_field :photo %>
  </section>

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
  </div>
<% end %>
