<section class="establishment_content">
  <p id="notice"><%= notice %></p>

  <p class="user_city">
    <b>Cidade:</b> <%= current_user.city.name %>
  </p>

  <%= search_form_for @q do |f| %>
    <section class="row">
      <span class="col-2" id="basic-addon1"><%= image_tag 'search' %></span>

      <%= f.collection_select :id_eq, current_user.city.establishments, :id, :name, {include_blank: ''}, class: 'form-control col-10' %>

      <%= f.submit 'Procurar', class: 'form-control col-12 mt-2' %>
    </section>
  <% end %>

  <script>
      $( "#q_id_eq" ).select2({
        placeholder: 'O que você precisa?'
      });
  </script>

  <br>

  <h4>Escolha uma Categoria</h4>

  <br>

  <section class="row">
    <% @categories.each do |category| %>
      <section class="col-4 image_category mt-2">
        <%= link_to category_establishments_path(id: category) do %>
          <%= image_tag category.photo %>
        <% end %>
      </section>
    <% end %>
  </section>

  <section class="paginate_div text-center mt-3">
    <%= paginate @categories %>
  </section>

  <br>

  <h4>Escolha um Estabelecimento</h4>

  <br>

  <%= render 'list_establishments' %>
</section>