<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
	<%= link_to (current_user.client?) ? establishments_path : current_user_establishments_establishments_path, class: 'float-left' do %>
		<%= image_tag 'back.png', alt: 'back image' %>
	<% end %>
<% else %>
	<%= link_to establishments_path(city_id: params[:city_id]), class: 'float-left' do %>
		<%= image_tag 'back.png', alt: 'back image' %>
	<% end %>
<% end %>

<h4 class="color_blue"><%= @establishment.name %></h4>

<% if user_signed_in? && current_user.shopkeeper? && @establishment.in?(current_user.establishments)%>
	<section class="mt-4 pt-4">
		<%= link_to 'Apagar Estabelecimento', @establishment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-left mb-2' %>
		<section class="float-right mb-2">
			<%= link_to 'Editar Estabelecimento', edit_establishment_path(@establishment), class: 'btn btn-info' %>
		</section>
	</section>
<% end %>

<section class="establishment_photo mt-4">
	<% if @establishment.photo.present? %>
		<%= image_tag @establishment.photo %>
	<% else %>
		<%= image_tag 'no-photo' %>
	<% end %>
</section>

<section class="about_establishment mt-3">

	<section class="items">
		<section class="row">
			<section class="col-3 call">
				<section class="background-yellow">
					<%= image_tag 'telephone' %>
				</section>
			</section>

			<section class="col-3 place">
				<section class="background-yellow">
					<%= image_tag 'local' %>
				</section>
			</section>

			<section class="col-3 star">
				<section class="background-yellow">
					<%= image_tag 'star' %>
				</section>
			</section>

			<section class="col-3 world">
				<section class="background-yellow">
					<%= image_tag 'share' %>
				</section>
			</section>
		</section>
	</section>

	<section class="establishment_icons_background">
		<section class="establishment_icons_information">
			<section class="telephone mt-3">
				<h4>Telefone:</h4>

				<% if @establishment.telephone.present? %>
					<%= @establishment.telephone %>
				<% else %>
					Não há um telefone cadastrado até o momento.
				<% end %>
			</section>

			<section class="address mt-3">
				<h4>Endereço:</h4>
				<table class="table">
					<% if @establishment.addresses.count > 0 %>
						<% @establishment.addresses.each do |address| %>
							<tr>
								<td><b>Cidade:</b> <br> <%= address.establishment_city.city.name %></td>
								<td colspan="2"><b>Rua:</b> <br> <%= address.street %></td>
							</tr>

							<tr>
								<td><b>Bairro:</b> <br> <%= address.neighborhood %></td>
								<td><b>Número:</b> <br> <%= address.number %></td>
								<td><b>CEP:</b> <br> <%= address.cep %></td>
							</tr>

							<tr><td colspan="3"></tr>
						<% end %>
					<% else %>
						Endereço indisponível.
					<% end %>
				</table>
			</section>

			<section class="rating mt-3">
				<h4>Avaliação:</h4>

				<% if @establishment.rating.present? %>
					<% (1..@establishment.get_rating).each do |i| %>
                 	 	<%= image_tag 'rating' %>
                	<% end %>
				<% else %>
					Não há avaliações ainda. <%= image_tag 'sad' %>
				<% end %>

				<%= form_for(@establishment, url: update_rating_establishment_path) do |f| %>
					Dê a sua avaliação:
					<%= f.number_field :rating, min: 1, class: 'form-control' %>
					<small>1 - Ruim | 2 - Médio | 3 - Bom | 4 - Muito Bom | 5 Excelente</small>

					<br>
					
					<%= f.submit 'Avaliar', class: 'btn btn-primary' %>
				<% end %>
			</section>

			<section class="social mt-3">
				<h4>Redes Sociais:</h4>
				<br>
				<section class="row">
					<section class="col-3">
						<%= link_to @establishment.facebook do %>
							<%= image_tag 'facebook' if @establishment.facebook.present? %>
						<% end %>
					</section>

					<section class="col-3">
						<%= link_to @establishment.instagram do %>
							<%= image_tag 'instagram' if @establishment.instagram.present? %>
						<% end %>
					</section>

					<section class="col-3">
						<%= link_to @establishment.whatsapp do %>
							<%= image_tag 'whatsapp' if @establishment.whatsapp.present? %>
						<% end %>
					</section>

					<section class="col-3">
						<%= link_to @establishment.website do %>
							<%= image_tag 'copy_link' if @establishment.website.present? %>
						<% end %>
					</section>
				</section>
			</section>

			<section class="close offset-5 col-12 mt-4">
				<%= image_tag 'close_tab' %>
			</section>

		</section>
	</section>

	<section class="aditional_information_button mt-4 btn btn-primary">
		Informações Adicionais
	</section>

	<section class="additional_information">
		<section class="description">
			<%= @establishment.additional_information %>
		</section>

		<section class="close_aditional mt-4">
			<%= image_tag 'close_tab' %>
		</section>
	</section>

	<br><br>

	<section class="about">
		<h5>Saiba Mais:</h5>

		<hr>

		<section class="description">
			<%= @establishment.description %>
		</section>
	</section>

	<% if user_signed_in? && current_user.shopkeeper? && @establishment.in?(current_user.establishments)%>
		<section class="cities mt-4">
			<h5>Cidades Atuantes</h5>

			<section class="description">
				<% @establishment.cities.each do |city| %>
					<%= city.name %> <br>
				<% end %>
			</section>
		</section>

		<section class="addresses mt-4">
			<h5>Endereços</h5>

			<section class="description">
				<% if @establishment.addresses.count > 0 %>
					<section class="table_mobile">
						<table class="table table-hover">
							<% @establishment.addresses.each do |address| %>
								<tr>
									<td colspan="5"><%= address.establishment_city.city.name %></td>
									<td><%= link_to 'Editar', edit_address_path(address, establishment: @establishment) %></td>
									<td><%= link_to 'Apagar', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
								</tr>
							<% end %>
						</table>
					</section>

					<hr>

					<%= link_to 'Cadastrar Endereço', new_address_path(establishment: @establishment), class: 'btn btn-info' %>
				<% else %>	
					Não existem endereços cadastrados <hr>
					<%= link_to 'Cadastrar Endereço', new_address_path(establishment: @establishment), class: 'btn btn-info' %>
				<% end %>
			</section>
		</section>
	<% end %>
</section>