<!DOCTYPE html>
<html>
  <head>
    <title>IacheiApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  	<main>
      <% if alert %>
        <p class="alert alert-danger alert"><%= alert %></p>
      <% end %>

      <% if notice %>
        <p class="alert alert-success notice"><%= notice %></p>
      <% end %>
      
      <%= render 'shared/navbar' if user_signed_in? %>
      <section class="container text-center">
          <% if user_signed_in? %>
            <section class="content col-md-6 offset-md-3">
      		    <%= yield %>
            </section>
          <% else %>
            <%= yield %>
          <% end %>
      </section>
  	</main>
  </body>
</html>
